doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Crypto Miner History
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500', rel='stylesheet')
    link(rel='stylesheet', href='/css/main.css')
  body
    #dashboard
    script.
      window.type =  !{JSON.stringify(type)}
    script(src='/js/vue.js', defer='')
    script(src='/js/highcharts.js', defer='')
    script(src='/js/vue-highcharts.min.js', defer='')
    script(src='/js/socket.io.js', defer='')
    script(src='/js/history.js', defer='')
