@charset "UTF-8";
.hide {
  display: none;
}

body {
  font-family: "Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #aaa;
  background-color: #272b30;
  font-size: 2em;
  height: 100%;
	padding: 0;
  margin: 1rem;
  overflow: hidden;
}

.dashboard {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dashboard .rig-name-and-rate, .dashboard .readings {
  flex: 1 1 auto;
}

.dashboard #chart {
  flex: 1 1 auto;
  padding: 0;
  margin: 0;
  height:100%;
}

h2 {
  text-align: center;
  color: #7a8288;
  font-weight: 400;
  font-size: 3em;
  line-height: 1.25;
  margin: 1rem 0;
}


.rig-name-and-rate span {
  font-size: 1.5em;
}

.readings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.readings:nth-of-type(2) {
  font-size: 0.4em;
}

.temperatures .reading:hover {
  cursor: pointer;
}

.temperatures .reading label:hover {
  cursor: pointer;
}

.reading {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 100px;
  margin-bottom: 2rem;
}

.reading label {
  display: block;
  margin-top: 0;
  text-align: center;
}

.reading span {
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
}
.reading span::after {
  font-size: .65em;
  content: " °C";
}

.rig-name-and-rate .reading span::after {
  content: "";
}

.rig-name-and-rate .reading:last-of-type span::after {
  font-size: .65em;
  content: " Mh/s";
}

/*
  colors: ["#7cb5ec", "#90ed7d", "#f7a35c", "#8085e9", "#f15c80", "#e4d354", "#2b908f", "#f45b5b", "#91e8e1"]
*/
.temperatures .reading:nth-of-type(1) span {
  color: #7cb5ec;
}
.temperatures .reading:nth-of-type(2) span {
  color: #90ed7d;
}
.temperatures .reading:nth-of-type(3) span {
  color: #f7a35c;
}
.temperatures .reading:nth-of-type(4) span {
  color: #8085e9;
}
.temperatures .reading:nth-of-type(5) span {
  color: #f15c80;
}